RewriteEngine On
RewriteBase /~ps0ke/mdbl0g/mdbl0g/

#RewriteRule ^(index.php)?\?q=(.*)$ search/$2 [R,L]
#RewriteRule ^(index.php)?\?q=(.*)&s=(.*)$ search/$3/$2 [R,L]

RewriteRule ^page/(\d+)/?$ index.php?s=$1 [NC,L]
RewriteRule ^(\d\d\d\d)/(\d\d)/(\d\d)/(\d\d)/(\d\d)/?.*/?$ index.php?p=$1-$2-$3_$4-$5 [NC,L]
RewriteRule ^search/(\d+)/(.*)/?$ index.php?q=$2&s=$1 [NC,L]
RewriteRule ^search/([^/]*)/?$ index.php?q=$1 [NC,L]

RewriteRule ^rss/?$ rss.php [NC,L]
