/* --- General --- */
@import url(http://fonts.googleapis.com/css?family=Average);
body{
	font-family: 'Average', serif;
	word-wrap: break-word;
}
.wrapper{
	margin:0 auto;
	position:relative;
}
a{
	border-bottom: 1px dotted gray;
	text-decoration:none;
	color:inherit;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
}


/* --- Infobox --- */
.infobox{
	border-bottom: 1px dotted gray;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.infobox h1{
	font-size:2.5em;
}
.infobox h1 a{
	border-bottom:none;
}
.infobox h1 a:hover{
	color:gray;
}
.infobox ul.info{
	padding-left:0px;
	list-style:none;
}
.infobox ul.info li{
	padding:5px 0 5px 0;
	color:gray;
}


/* --- Post --- */
h1.post-title{
	margin-bottom:0px;
}
.post-date,.post-admin,.generator{
	color:gray;
}
.post-date,.post-admin{
	font-size:0.8em;
	display:inline;
}
ul.post-info{
	padding:0;
	margin-top:5px;
}
.content{
	padding-right:10px;
}
.content article.post .post-content{
	text-align:justify;
	line-height:1.5em;
}
.content article.post .post-content img{
	max-width: 100%;
}
.content article.post .post-content iframe{
	width: 100% !important;
}


/* --- Content --- */
hr{
	border:none;
	border-bottom: 1px dotted gray;
	margin: 50px 0px 50px 0px;
}
hr:last-child{
	display:none;
}
hr.thin{
	margin: 20px 0px 10px 0px;
}
.generator{
	font-size: 0.8em;
}


/* --- New/Edit --- */
input[type=text], input[type=search], textarea {
	font-size: 1.2em;
	font-family: 'Average', serif;
	border: 1px dotted gray;
	padding: 5px;
	width:98%;
}
.content.newpost {
	margin: 0;
	padding: 0;
	margin-top: 5px;
}
.content.newpost.preview {
	border-top: 1px dotted gray;
	padding: 10px;
}
.previewpane {
	margin: 0;
	padding: 0 10px 10px 0;
	width: 100%;
	height: 400px;
}
.newpost-wrapper{
	width:100%;
}
div.content.newpost.right article.post h1.post-title{
	margin-top:0;
}


/* --- Alerts --- */
div.alert, form.alert{
	margin: 0 auto;
	margin:25px;
	border:1px dotted;
	text-align:center;
	padding: 25px;
}
.alert.error{
	border-color: rgba(255,0,0,1);
	background: rgba(255,0,0,.1);
}
.alert.success{
	border-color: rgba(0,255,0,1);
	background: rgba(0,255,0,.1);
}
